{% assign metatitle = site.title %} {% if type == "note" %} {% assign metatitle
= site.author | append: "'s Notes" %} {% endif %} {% if title %} {% assign
metatitle = metatitle | prepend: " • " | prepend: title %} {% endif %} {% assign
metadesc = site.desc %} {% if desc %} {% assign metadesc = desc %} {% endif %}
{% assign metatype = "website" %} {% if type == "note" %} {% assign metatype =
"article" %} {% endif %}

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv="X-UA-Compatible" content="ie=edge" />

<link
  rel="apple-touch-icon"
  sizes="57x57"
  href="/assets/icons/apple-icon-57x57.png"
/>
<link
  rel="apple-touch-icon"
  sizes="60x60"
  href="/assets/icons/apple-icon-60x60.png"
/>
<link
  rel="apple-touch-icon"
  sizes="72x72"
  href="/assets/icons/apple-icon-72x72.png"
/>
<link
  rel="apple-touch-icon"
  sizes="76x76"
  href="/assets/icons/apple-icon-76x76.png"
/>
<link
  rel="apple-touch-icon"
  sizes="114x114"
  href="/assets/icons/apple-icon-114x114.png"
/>
<link
  rel="apple-touch-icon"
  sizes="120x120"
  href="/assets/icons/apple-icon-120x120.png"
/>
<link
  rel="apple-touch-icon"
  sizes="144x144"
  href="/assets/icons/apple-icon-144x144.png"
/>
<link
  rel="apple-touch-icon"
  sizes="152x152"
  href="/assets/icons/apple-icon-152x152.png"
/>
<link
  rel="apple-touch-icon"
  sizes="180x180"
  href="/assets/icons/apple-icon-180x180.png"
/>
<link
  rel="icon"
  type="image/png"
  sizes="192x192"
  href="/assets/icons/android-icon-192x192.png"
/>
<link
  rel="icon"
  type="image/png"
  sizes="32x32"
  href="/assets/icons/favicon-32x32.png"
/>
<link
  rel="icon"
  type="image/png"
  sizes="96x96"
  href="/assets/icons/favicon-96x96.png"
/>
<link
  rel="icon"
  type="image/png"
  sizes="16x16"
  href="/assets/icons/favicon-16x16.png"
/>
<link rel="shortcut icon" href="/assets/favicon.ico" type="image/x-icon" />
<link rel="manifest" href="/assets/manifest.json" />
<meta name="msapplication-TileColor" content="#ffffff" />
<meta
  name="msapplication-TileImage"
  content="/assets/icons/ms-icon-144x144.png"
/>
<meta name="theme-color" content="#ffffff" />

<title>{{- metatitle -}}</title>

<meta name="description" content="{{- metadesc -}}" />
<link rel="canonical" href="{{ page.url | prepend: site.baseurl }}" />

<!-- OpenGraph tags -->
<meta property="og:title" content="{{-metatitle-}}" />
<meta property="og:type" content="{{-metatype-}}" />
<meta property="og:url" content="{{ page.url | prepend: site.baseurl }}" />
<meta
  property="og:image"
  content="{{ site.baseurl }}/assets/icons/favicon-96x96.png"
/>
<meta property="og:description" content="{{- metadesc -}}" />

<!-- Twitter tags -->
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@{{meta.twitterHandle}}" />
<meta name="twitter:title" content="{{-metatitle-}}" />
<meta name="twitter:description" content="{{-metadesc-}}" />

<link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin />
<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Inter&display=swap"
/>

<link rel="preconnect" href="https://cdnjs.cloudflare.com/" crossorigin />
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
/>

<!-- Webmentions -->
<link rel="webmention" href="https://webmention.io/arijitbasu.in/webmention" />
<link rel="pingback" href="https://webmention.io/arijitbasu.in/xmlrpc" />

<!-- Highlight js -->
<link
  rel="stylesheet"
  href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.0/styles/default.min.css"
/>

<!-- Style -->
<link rel="stylesheet" href="/assets/style.css" />

<!-- Global site tag (gtag.js) - Google Analytics -->
<script
  async
  src="https://www.googletagmanager.com/gtag/js?id=G-979D0WCJB8"
></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() {
    dataLayer.push(arguments);
  }
  gtag('js', new Date());

  gtag('config', 'G-979D0WCJB8');
</script>
